
/****************************************
  HanAdmin Main Css  
    
	staff admin
	customers admin
	logs admin

****************************************/


body{ background:#eee; }

  div.system_main_area{
    min-width:1010px;
	position:relative;
	height:100%;
	z-index:1;
  }

    div.system_manual_area{
	  position:fixed;
	  top:0;
	  left:0;
	  bottom:0;
	  width:250px;
	  background-color:#2c2e2f;  
	  overflow:hidden;
	  z-index:10;
	  color:#FFFFFF;
	}
	
	  div.system_mark{
	    padding:0 30px;
		height:80px;
		line-height:80px;
		border-bottom:1px #383c3c solid;
	  }
	    span.mark_title_word{  font-size:25px; font-weight:bold; }
	    span.mark_version_word{  font-size:10px; font-weight:bold; padding-left:10px;} 
	  
	  ul.main_manual{
	    padding:35px;
	  }
	    li.option_group{
		  
		}
	      div.opgroup_name{ 
		    padding:13px 5px;
            border-bottom:1px #383c3c solid;
		  }
	      
		  div.opgroup_name i{
		   margin-right:10px;
		   position:relative;
           top:-3px;		   
		  }
		  
		  
	      ul.group_manuel li{
		    padding:13px 5px 13px 35px;
		  }
	
	      ul.group_manuel li.atthis{ background-color:rgba(255,255,255,0.1);}
		  
	div.system_content_area{
	  border:1px #CDCDCD solid;
	  position:fixed;
	  top:0;
	  left:250px;
	  right:0;
	  bottom:0;
	  min-width:700px;
	  z-index:11;
	  overflow:auto;
	}
	  div.tool_banner{
	    position:relative;
		background-color:#FFFFFF;
		height:80px;
		line-height:80px;
	    padding:0 30px;
		
	  }
	    
		span.tool_right{float:right;}
		
	    span#system_alert{}
		span#system_setting{}
        span#system_search{ }
        span#account_option{ position:relative;}
          div.account_info{ width:230px; cursor:pointer;border:1px #FFFFFF solid;}
		    
			span#acc_mark{
			  display:inline-block;  
			  width:30px; 
			  height:30px; 
			  text-align:center; 
			  background-color:#7d7d7d;
			  overflow:hidden;
			  position:relative;
			  border-radius:15px;
			  position:relative;
			  top:11px;
			  padding:2px;
			  box-shadow:0 0 7px -1px rgba(0,0,0,0.3);
			}
			  i.m_head{display:block;width:16px; height:16px; border-radius:8px; background-color:#f3f3f2;margin-left:7px;}
			  i.m_body{display:block;width:30px; height:30px; border-radius:15px; background-color:#f3f3f2;}
			
			span#acc_string{display:inline-block;width:170px; font-weight:bold;font-size:18px; color:#595857;}
		    span#acc_option{display:inline-block;width:16px;  opacity:0.7; }
		  
		  div.account_control{ 
		    width:240px; 
		    display:none;
			position:absolute;
		    z-index:100;
			top:70px;
		  }
	      
		  
		  .arrow_box {
			position: relative;
			background: #ffffff;
			border: 1px solid #cdcdcd;
		  }
		  .arrow_box:after, .arrow_box:before {
			bottom: 100%;
			left: 9%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		  }

		  .arrow_box:after {
			border-color: rgba(186, 186, 186, 0);
			border-bottom-color: #ffffff;
			border-width: 10px;
			margin-left: -10px;
		  }
		  .arrow_box:before {
			border-color: rgba(150, 150, 150, 0);
			border-bottom-color: #cdcdcd;
			border-width: 12px;
			margin-left: -12px;
		  }
		  
		    ul.acc_option_list{
			  min-height:30px;
			}
		    div.acc_option_final{
			  height:50px;
			  line-height:50px;
			  border-top:1px #CDCDCD solid;
			  background-color:#f3f3f2;
			  position:relative;
			}
		      span#acc_logout{
			    display:inline-block;
				padding:5px 6px;
				height:20px;
				line-height:20px;
			    cursor:pointer;
			    border:1px #cdcdcd solid;
				border-radius:3px;
				position:absolute;
				right:10px;
				top:10px;
				color:#7d7d7d;
				font-size:14px;
			  }
		      
		      span#acc_logout:hover{
			     background-color:#dcdddd;
			  }
	  
	  div.topic_banner{
	    background-color:#f8f8f8;
		box-shadow: 0 1px 0 rgba(0,1,1,.08),inset 0 1px 0 #ededed;
		padding:20px 30px;
		
	  }
	    
		div.topic_header{
		  float:left;
		}
		  div.topic_title{ 
            font-weight:bold;
			font-size:23px;
			color:#000000;
		  }
		  div.topic_descrip{ 
		    font-size:15px;
            margin-top:10px;
			color:#595857;
		  }
		  
		  
		div.system_footprint{
		  float:right
		}
		  ol.footprint{
		    margin-top:8px;
			padding:8px 15px;
			font-size:15px;
			color:#595857;
		  }  
		  
		  ol.footprint li{
		    display:inline-block;
		  }  
		  
		  ol.footprint li.nowat{
		    font-weight:bold;
			color:#383c3c;
			opacity:1;
			
		  }
		  
		  ol.footprint li:nth-child(n+2)::before{
		    content: "/\00a0";
            padding: 0 5px;
			color:#ccc;
		  }
		  
/*		
	  div.main_content{
	    position:relative;
	    padding:30px;
	  }
*/	  
	    
	
	/*********************************************************/
	.option{
	  cursor:pointer;
	  opacity:0.6;
	}
	
	.option:hover{
	  opacity:1;
	}
	
	
	._order_status_0{ background:url('../image/staff_mark_account_off.png') 0 0; }
	._order_status_1{ background:url('../image/staff_mark_account_on.png') 0 0; }
	
	
	.pic_admin{ background:url('../image/manual_mark_admin.png') 0 0; }
	.pic_sell{ background:url('../image/manual_mark_sell.png') 0 0;}
	
	.pic_account_on { background:url('../image/staff_mark_account_on.png') 0 0; }
	.pic_account_off{ background:url('../image/staff_mark_account_off.png') 0 0; }
	.pic_new_account {  }
	
	.pic_db_account{ background:url('../image/mark_db_account.png') 0 0; }
	
	.pic_upload { background:url('../image/mark_upload.png') 0 0; }
	.pic_delete {background:url('../image/mark_delete.png') 0 0; }
	.pic_more { background:url('../image/mark_more.png') 0 0; }
	.pic_close { background:url('../image/mark_close.png') 0 0; }
	.pic_save { background:url('../image/mark_save.png') 0 0; }
	
	.pic_status_start { background:url('../image/status_mark_active.png') 0 0; }
	.pic_status_stop{ background:url('../image/status_mark_stop.png') 0 0; }
	.pic_status_error{ background:url('../image/status_mark_error.png') 0 0; }
	
	.mark24{
      display:inline-block;
	  width:24px;
	  height:24px;  
	  vertical-align:middle; 
	  content:" ";
    }  
	
