
/****************************************
  Harley VCS resources Css  
    
	resources admin

****************************************/
	  
	  div.main_content{
	    position:relative;
	    padding:30px;
	  }
	  
	    div.data_record_block{
		  background-color:#FFFFFF;
		  padding:0 30px 20px;
		  font-size:15px;
		  margin-bottom:20px;
		}
	  
	      div.record_header{
		    position:relative;
			height:50px;
			line-height:50px;
		    border-bottom: 2px solid #f5f5f5;
		  }		
	        span.record_name{
			  
			}
			
			span._return_list{
			  cursor:pointer;
			  text-decoration:underline;
			}
			
			span.record_target{ color:#007bbb; }
			span.record_target:before{ content:" / "; font-size:13px; color:#000000;}
			
			span.record_option{
			  font-size:16;
			  position:absolute;
			  right:0;
			}
			
			span.record_option a.option{
			  padding-left:10px;
			}
	  
	  
	  
	  
	      div.record_control{
		    position:relative;
			height:60px;
			line-height:60px;
			color:#979898;
		  }
		    
			span.record_search{
			  position:absolute;
			  right:0;
			}
		    
			span.record_limit select , span.record_search input{
			  padding:5px;
			  border:1px #dcdddd solid;
			  color:#979898;
			}
			
			span.record_pages{
			  position:absolute;
			  right:0;
			}
		 
		      a.page_tap{
			    display:inline-block;
			    width:30px;
				height:30px;
				line-height:30px;
				text-align:center;
				margin-left:10px;
			  }
		      
			  a.page_now{
			    font-weight:bold;
				background-color: #DEDEDE;
				border: 1px #DEDEDE solid;
				
			  }
		 
		      a.page_to{
			    border: 1px #dcdddd solid;
				cursor:pointer;
			  }
		 
		 
		 
		  table.record_list{
		    width:100%;
			color:#979898;
		    margin-bottom:20px;
		  }	
		  
		  table.record_list td{
		    padding:12px;
		    border:1px #dcdddd solid;
		  }
		    
		    tr.data_title td{
			  color:#666666;
			  font-weight:bold;
			}
		    
			tr.data_field td{
			  position:relative;
			  color:#000000;
			  font-weight:bold;
			}
			
			  td.search_hits{
			    color:red;
				font-weight:bold;
			  }
			
			
			tr.data_field td:after{
              content: '';
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 1px;
              height: 1px;
              background-color: #eee;
			}
			
			
			tr.data_record:nth-child(odd){ background-color:#f9f9f9; }
			tr.data_record td{  }
			tr.data_record td:nth-child(1){  width:100px;  }
			tr.data_record td:nth-child(2){  width:230px  }
			tr.data_record td:nth-child(3){  width:70px }
			tr.data_record td:nth-child(4){  width:50px; }
			tr.data_record td:nth-child(5){  width:50px; }
			tr.data_record td:nth-child(6){  }
			tr.data_record td:nth-child(7){ text-align:center; width:30px; cursor:pointer;}
			tr._target td:nth-child(1){background-color:#84b9cb;color:#FFFFFF;}
			
			
			
		    tr.data_editer > td > input{
			  width:100%;
              color:#007bbb;			  
			}
	
	        
			
	        span.active_option{
			  display:inline-block;
			  width:40px;
			  height:20px;
			  border-radius:10px;
			  background-color:#cdcdcd;
			  position:relative;
			  top:5px;
			  cursor:pointer;
			  box-shadow:inset 2px 2px 4px 0px rgba(0,0,0,0.3);
			}
			
			span.active_option[pass='1']{ background-color:#7d7d7d;}
			span.active_option[pass='0']{ background-color:#2792c3}
			span.active_option[pass='0'] i.active_switch{ right:1px;}  
			  i.active_switch{
			    position:absolute;
			    display:block;
				height:20px;
				width:20px;
				background-color:#adadad;
				border-radius:10px;
				box-shadow:-1px 0 5px -1px rgba(0,0,0,0.6);
			  }
			  
	
	
