
/****************************************
  HanAdmin Index Css  
    
	Login 
	Account Regist
    Forgot Password
	Password Reset

****************************************/


body{ background:#2C2E2F; }

div.system_main_area ,div.system_body_area ,div.system_foot_area{
   min-width:1010px;
}



  div.system_main_area{
    min-height:695px;
    height: 100%;
    margin-bottom:-50px;
    position:relative;
	z-index:1;
  }
    
	div.system_header_area{
	  z-index:3;
	  height:50px;
	  position:relative;
	  top:0;
	    
	}
	
	div.system_body_area{
	  z-index:2;
	  position:absolute;
	  top:250px;
	  bottom:0px;
	  left:0;
	  right:0;
	  padding:10px;
	}
	
	  div.system_login_block{
	    max-width:960px;
		margin:0 auto;
		color:#FFFFFF;
	  }
	    
		form.login_form{
		  display:block;
		}
		
		
	    div.user_picture{
		  float:left;
		  width:130px;
		  height:130px;
		}
		  img.user_thumb{
		    box-shadow: 0 0 0 6px rgba(255,255,255,.05);
		    border-radius:50%;
		  }
		  
		div.login_block{
		  float:left;
		  margin:0 25px;
		}  
		  div.login_title{ 
		    font-size:20px;
		    margin-bottom:10px;
			padding:0 3px;
		  }
		  div.login_element{
		    padding:4px;
		  }
		  
		  input.form_input{
		    padding: 10px 12px;
		    background: 0 0;
			border: 1px solid #3e4142;
			color: #fff;
			margin-right:8px;
			width:65%;
		  }
		  input.form_input:focus{  outline: 0; }
		  
		  
		  button.form_submit{
		    border: 1px solid #3e4142;
            padding: 10px 20px;
			color: #fff;
			background-color: #2c2e2f;
			cursor:pointer;
		  }
		  
		  button.form_submit:hover{
		    background-color: rgba(255,255,255,0.1);
		  }
		  
	      
		  input.form_error{
		    border-color: rgba(204,63,68,0.5);
		  }
		  
		  
	div.system_footer_area{
	  z-index:3;
	}